'scopeName': 'source.whatsapp'
'name': 'WhatsApp'
'type': 'textmate'
'fileTypes': ['txt']
'firstLineMatch': '^(\\u200e)?\\[\\d{2}\\/\\d{2}\\/\\d{4}, \\d{1,2}:\\d{2}:\\d{2} [ap]m\\] \\w+:'
'patterns': [
    {
        'match': '^(\\u200e)?(\\[)(\\d{2}\\/\\d{2}\\/\\d{4})(, )(\\d{1,2}:\\d{2}:\\d{2} [ap]m)(\\]) (\\w+)(:)'
        'name': 'prefix.all.whatsapp'
        'captures':
            '2':
                'name': 'prefix.bracket.whatsapp'
            '3':
                'name': 'prefix.date.whatsapp'
            '4':
                'name': 'prefix.comma.whatsapp'
            '5':
                'name': 'prefix.time.whatsapp'
            '6':
                'name': 'prefix.bracket.whatsapp'
            '7':
                'name': 'prefix.recipient-name.whatsapp'
            '8':
                'name': 'prefix.colon.whatsapp'
    }
    {
        'match': '^(\\u200e)?\\[\\d{2}\\/\\d{2}\\/\\d{4}, \\d{1,2}:\\d{2}:\\d{2} [ap]m\\] \\w+: (\\u200e)?(<)(attached)(:) (\\d{8}-)(\\w+)(-\\d{4}-\\d{2}-\\d{2}-\\d{2}-\\d{2}-\\d{2}\\.\\w+)(>)$'
        'name': 'attachment.all.whatsapp'
        'captures':
            '3':
                'name': 'attachment.bracket.whatsapp'
            '4':
                'name': 'attachment.attached-keyword.whatsapp'
            '5':
                'name': 'attachment.colon.whatsapp'
            '6':
                'name': 'attachment.filename.whatsapp'
            '7':
                'name': 'attachment.filename-type.whatsapp'
            '8':
                'name': 'attachment.filename.whatsapp'
            '9':
                'name': 'attachment.bracket.whatsapp'
    }
    {
        'match': '\\b_[^_]+_\\b'
        'name': 'message.italic.whatsapp'
    }
    {
        'match': '\\*\\b[^*]+\\b\\*'
        'name': 'message.bold.whatsapp'
    }
    {
        'match': '~\\b[^~]+\\b~'
        'name': 'message.strikethrough.whatsapp'
    }
    {
        'match': '\\u0060{3}\\b.+\\b\\u0060{3}'
        'name': 'message.monospace.whatsapp'
    }
]
