.bracket {
    color: #ed1d23;
}
.date {
    color: #00f;
}
.comma {
    color: #d66;
}
.time {
    color: #0f0;
}
.name {
    color: #d0d;
}
.colon {
    color: #d66;
}
.attached-keyword {
    color: #ed4588
}
.filename {
    color: #0f0
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.strikethrough {
    text-decoration: line-through;
}
.monospace {
    font-family: "Courier New", Courier, monospace;
}
